@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textare {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

* {
  box-sizing: content-box;
}

body {
  font-family: Jost;
  color: #1B1B1D;
}

.wrapper {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.main-part {
  background: #EEEFF1;
  width: 100%;
  height: 1046px;
}

.menu {
  margin: 0 auto;
  padding: 24px 100px;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
}
.menu__logo {
  flex-shrink: 0;
  width: 156px;
  height: 50px;
}
.menu__logo img {
  max-width: 100%;
  max-height: 100%;
}
.menu__row {
  display: flex;
  gap: 40px;
}
.menu__items {
  display: flex;
  gap: 40px;
}
.menu__item {
  align-self: center;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 21.68px;
  transition-duration: 0.3s;
}
.menu__item:hover {
  padding: 7px;
  border-radius: 5px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1), -7px -7px 10px rgba(250, 249, 249, 0.8);
}
.menu__buttons {
  display: flex;
  gap: 20px;
}
.menu__button {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__button_black {
  border-radius: 63px;
  padding: 15px 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
}

.basket-button {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #FFFFFF;
  transition-duration: 0.3s;
}
.basket-button img {
  max-width: 100%;
  max-height: 100%;
}
.basket-button:hover {
  box-shadow: 0px 0px 13px 10px #939396;
}

.black-button {
  gap: 10px;
  text-transform: uppercase;
  background: #1B1B1D;
  color: #FFFFFF;
  text-align: center;
  transition-duration: 0.3s;
}
.black-button:hover {
  box-shadow: 0px 0px 13px 10px #939396;
}

.main-body {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 103px 100px;
}
.main-body__left {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.main-body__title {
  font-weight: 800;
  font-size: 124px;
  line-height: 140px;
  color: #1B1B1D;
}
.main-body__subtitle {
  max-width: 530px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34.68px;
  color: #64646A;
}
.main-body__buttons {
  display: flex;
  gap: 30px;
}
.main-body__button {
  align-self: center;
}
.main-body__button_underlined {
  font-weight: 500;
  font-size: 18px;
  line-height: 26.01px;
  border-bottom: solid 1px #1B1B1D;
  text-transform: uppercase;
  transition-duration: 0.3s;
}
.main-body__button_underlined:hover {
  box-shadow: 0 -37px 0px 0 #5b5b5e inset;
  border-radius: 5px;
  color: white;
  padding: 5px;
}
.main-body__button_black {
  padding: 20px 40px;
  border-radius: 126px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  transition-duration: 0.3s;
}
.main-body__right {
  width: 680.25px;
  height: 712px;
}
.main-body__right img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.explore {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 175px 100px;
  gap: 100px;
}
.explore__header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.explore__title {
  text-align: center;
}
.explore__subtitle {
  max-width: 605px;
  text-align: center;
}
.explore__row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.explore__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 394px;
  height: 540px;
  padding: 40px;
  border-radius: 24px;
  box-shadow: 0px 30px 60px 0px rgba(163, 168, 178, 0.1490196078);
}
.explore__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.explore__column-title {
  max-width: 214px;
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
}
.explore__column-subtitle {
  max-width: 316px;
}
.explore__image {
  max-width: 150px;
  max-height: 150px;
}
.explore__image img {
  width: 100%;
  height: 100%;
}
.explore__button {
  width: 165px;
  border-radius: 126px;
  padding: 15px 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.title {
  font-weight: 800;
  font-size: 64px;
  line-height: 70px;
}

.subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 34.68px;
  color: #64646A;
}

.order {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.order__left {
  max-width: 680px;
}
.order__left img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.order__right {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.order__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.order__title {
  max-width: 512px;
  text-align: left;
}
.order__subtitle {
  max-width: 512px;
  text-align: left;
}
.order__button {
  text-align: center;
  width: 130px;
  padding: 20px 30px;
  border-radius: 97px;
  gap: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.feedback {
  max-width: 1240px;
  padding: 175px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}
.feedback__header {
  max-width: 454px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.feedback__title {
  text-align: center;
}
.feedback__rate {
  text-align: center;
}
.feedback__card-container {
  box-sizing: border-box;
  position: relative;
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 16px;
  box-shadow: 0px 20px 60px 0px rgba(163, 168, 178, 0.1490196078);
}
.feedback__content {
  padding: 0px 40px 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.feedback__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}
.feedback__text {
  width: 387px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.container {
  max-width: 1240px;
  padding-inline: 40px;
}

/* ------- Стили карусели карточек -------  */
.slider-wrapper {
  position: relative;
  padding-inline: 80px;
}

.button-arrow {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
  transition-duration: 0.3s;
}
.button-arrow img {
  max-width: 100%;
  max-height: 100%;
}
.button-arrow:hover {
  box-shadow: 0px 0px 13px 10px #939396;
}

.button-arrow--prev {
  left: 0;
}

.button-arrow--next {
  right: 0;
}